//
// WPREC Calendar Navigation
//

.wprec-calendar-navigation {
	position: absolute;
	top: 0;
	right: 0;
	&__prev,
	&__next {
		text-decoration: none;
		background-color: #FFF;
		color: #666;
		border: 1px solid #CCC;
		display: inline-block;
		text-align: center;
		position: relative;
		&:active {
			background-color: #F6F6F6;
		}
		&:after {
			display: block;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	&__prev {
		&:after {
			border-width: 6px 8px 6px 0;
			border-color: transparent #333 transparent transparent;
			left: 47%;
		}
	}
	&__next {
		margin-left: 10px;
		&:after {
			border-width: 6px 0 6px 8px;
			border-color: transparent transparent transparent #333;
			left: 53%;
		}
	}
}

//
// WPREC Calendar Navigation - Mobile
//
@media (max-width: 767px) {
	.wprec-calendar-navigation {
		&__prev,
		&__next {
			width: 30px;
			height: 30px;
			border-radius: 15px;
		}
	}
}

//
// WPREC Calendar Navigation - Desktop
//
@media (min-width: 768px) {
	.wprec-calendar-navigation {
		&__prev,
		&__next {
			width: 40px;
			height: 40px;
			border-radius: 20px;
		}
	}
}
