.wprec-calendar-frame {
	border: none;
	width: 100%;
}

.wprec-calendar-event-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.3);
	}
	&__window {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
	}
	&__wrap1 {
		box-sizing: border-box;
		width: 100%;
		min-height: 100%;
		display: table;
	}
	&__wrap2 {
		display: table-cell;
		vertical-align: middle;
	}
	&__wrap3 {
		width: 600px;
		border-radius: 3px;
		background: white;
		position: relative;
		margin: 0 auto;
	}
	&__wrap4 {
		padding: 40px;
	}
	&__title {
		margin: 0;
		padding: 0;
		font-size: 2em;
		margin-bottom: 20px;
	}
}

.wprec-calendar {
	position: relative;
	display: block !important;
	&__title {
		font-size: 2em;
		margin-bottom: 1em;
		font-weight: bold;
		color: #444;
	}
	&__table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0;
		table-layout: fixed;
		background: #FFF;
		border-radius: 3px;
		box-shadow: 0 0 10px 2px rgba(#000, 0.1);
	}
	&__header {
		border-top: 1px solid #CCC;
		border-left: 1px solid #CCC;
		padding: 8px;
		background: rgba(#469, 0.075);
		font-weight: normal;
		font-size: 14px;
		color: #444;
		&:last-child {
			border-right: 1px solid #CCC;
		}
		&:first-child {
			border-top-left-radius: 3px;
		}
		&:last-child {
			border-top-right-radius: 3px;
		}
	}
}

.wprec-calendar-navigation {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
	&__prev,
	&__next {
		text-decoration: none;
		background-color: #FFF;
		color: #666;
		border: 1px solid #CCC;
		box-shadow: 0 0 10px 2px rgba(#000, 0.1);
		width: 40px;
		height: 40px;
		display: inline-block;
		text-align: center;
		border-radius: 20px;
		position: relative;
		&:active {
			background-color: #F6F6F6;
		}
		&:after {
			display: block;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	&__prev {
		&:after {
			border-width: 6px 8px 6px 0;
			border-color: transparent #333 transparent transparent;
			left: 47%;
		}
	}
	&__next {
		margin-left: 10px;
		&:after {
			border-width: 6px 0 6px 8px;
			border-color: transparent transparent transparent #333;
			left: 53%;
		}
	}
}

.wprec-calendar-grid {
	&__cell {
		background: #FFF;
		border-top: 1px solid #CCC;
		border-left: 1px solid #CCC;
		position: relative;
		width: 100%;
		height: 130px;
		box-sizing: border-box;
		vertical-align: top;
		padding: 0;
		&:last-child {
			border-right: 1px solid #CCC;
		}
	}
	&__row:last-child &__cell {
		border-bottom: 1px solid #CCC;
	}
	&__row:last-child &__cell:first-child {
		border-bottom-left-radius: 3px;
	}
	&__row:last-child &__cell:last-child {
		border-bottom-right-radius: 3px;
	}
	&__date {
		font-size: 16px;
		text-align: right;
		margin: 5px;
		display: block;
		color: #444;
	}
	&__cell--disabled &__date {
		color: #CCC;
	}
	&__time {
		float: right;
		margin-left: 5px;
		font-weight: bold;
	}
	&__event {
		display: block;
		font-size: 11px;
		padding: 8px 4px;
		text-decoration: none;
		font-family: sans-serif;
		margin-bottom: 1px;
		&:last-child {
			margin-bottom: 0;
		}
		&,
		&--blue {
			background: rgba(#469, 0.15);
			color: #469;
			&:hover {
				background: rgba(#469, 0.125);
			}
		}
		&--red {
			background: rgba(#955, 0.15);
			color: #955;
			&:hover {
				background: rgba(#955, 0.125);
			}
		}
	}
}
