//
// WPREC Event Modal
//

.wprec-event-modal {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	display: table;
	font-family: Georgia;
	&__wrap {
		display: table-cell;
		vertical-align: middle;
	}
	&__window {
		max-width: 600px;
		border-radius: 3px;
		background: white;
		position: relative;
		margin: 0 auto;
	}
	&__content {
		padding: 40px;
	}
	&__title {
		margin: 0;
		padding: 0;
		font-size: 2em;
		margin-bottom: 20px;
	}
}
